.menu.selected {
    color: tomato;
    font-weight: bolder;
    border-bottom: 2px solid tomato;
    text-decoration: none;

}
.nav-color {
    
    background-color: #673ab7;
    border-color: #673ab7;
}